<div class="container my-5">
  <div>
    <h1>Elecciones CABA 2023 - PASO</h1>
    <h4 class="lead">
      Conocé el escrutinio en tiempo real de las elecciones primarias en la
      Ciudad Autónoma de Buenos Aires.
    </h4>
  </div>

  <div class="row cont-tarjetas">
    <div
      class="col-sm-12 responsive-scroll vertical-cards-container"
      tabindex="0"
    >
      <div class="card">
        <img
          src="assets\imagenes\votacion.png"
          class="card-img-top"
          alt="descripción de imagen"
        />
        <div class="card-body">
          <div class="card-badges">
            <span class="badge badge-secondary">NDA</span>
          </div>
          <h3 class="card-title">
            <a href="#" class="card-title-link"> 45,38% </a>
          </h3>
          <p class="card-text">Santiago Silva</p>
          <div class="card-info"><small>88.620</small></div>
        </div>
      </div>
      <div class="card">
        <img
          src="assets\imagenes\votacion.png"
          class="card-img-top"
          alt="descripción de imagen"
        />
        <div class="card-body">
          <div class="card-badges">
            <span class="badge badge-success">NDP</span>
          </div>
          <h3 class="card-title">
            <a href="#" class="card-title-link"> 27,38% </a>
          </h3>
          <p class="card-text">Mariano Román</p>
          <div class="card-info"><small>67.620</small></div>
        </div>
      </div>
      <div class="card">
        <img
          src="assets\imagenes\votacion.png"
          class="card-img-top"
          alt="descripción de imagen"
        />
        <div class="card-body">
          <div class="card-badges">
            <span class="badge badge-info">Partido Provincial</span>
          </div>
          <h3 class="card-title">
            <a href="#" class="card-title-link"> 6,38% </a>
          </h3>
          <p class="card-text">Amanda Peréz</p>
          <div class="card-info"><small>7.620</small></div>
        </div>
      </div>
    </div>
  </div>
</div>
