<div class="container my-5">
  <div>
    <h2>Resultados parciales generales</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 my-4">
      <img
        src="assets\imagenes\mapa.jpeg"
        class="card-img-top"
        alt="descripción de imagen"
      />
    </div>
    <div class="col-sm-6 mt-5">
      <h3 class="mb-4">Resultados parciales C.A.B.A.</h3>
      <div class="mt-5">
        <div class="mb-4" style="border-left: 4px solid #38485c; padding: 5px">
          <div>
            <i class="fas fa-flag"></i>
            <span class="badge badge-secondary">NDA</span>
          </div>
          <div class="cont-candidato">
            <div class="cont-datos-candidato">
              <img
                src="assets/imagenes/foto(2).png"
                alt="Candidato"
                class="rounded-circle me-3"
                width="50"
              />
              <div>
                <h6 class="mb-0">Santiago Silva</h6>
                <small class="mb-0 text-muted">NDA</small>
              </div>
            </div>
            <div>
              <h3 class="mb-0">45,38%</h3>
              <small>414,839 votos</small>
            </div>
          </div>
        </div>

        <div class="mb-4" style="border-left: 4px solid #186e37; padding: 5px">
          <div>
            <i class="fas fa-flag"></i>
            <span class="badge badge-success">NDP</span>
          </div>
          <div class="cont-candidato">
            <div class="cont-datos-candidato">
              <img
                src="assets/imagenes/foto(1).png"
                alt="Candidato"
                class="rounded-circle me-3"
                width="50"
              />
              <div>
                <h6 class="mb-0">Mariano Román</h6>
                <small class="mb-0 text-muted">NDP</small>
              </div>
            </div>
            <div>
              <h3 class="mb-0">27,38%</h3>
              <small>254,460 votos</small>
            </div>
          </div>
        </div>

        <div style="border-left: 4px solid #007bc7; padding: 5px">
          <div>
            <i class="fas fa-flag"></i>
            <span class="badge badge-info">Partido Provincial</span>
          </div>
          <div class="cont-candidato">
            <div class="cont-datos-candidato">
              <img
                src="assets/imagenes/foto.png"
                alt="Candidato"
                class="rounded-circle me-3"
                width="50"
              />
              <div>
                <h6 class="mb-0">Amanda Perez</h6>
                <small class="mb-0 text-muted">Partido Provincial</small>
              </div>
            </div>
            <div>
              <h3 class="mb-0">6,38%</h3>
              <small>254,460 votos</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
