<div class="container my-5">
  <h2>Mesas escrutadas</h2>
  <h4 class="lead">
    Aquí podrás ver la cantidad de meses escrutadas hasta el momento.
  </h4>
  <div class="storybook__container-progression cont-progress-bar">
    <p class="steps">Cantidad de mesas escrutadas: 9.532</p>
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 25%"
      ></div>
    </div>
  </div>
</div>
